@import url('https://fonts.googleapis.com/css2? family= Kanit:wght@300 & display=swap');


header{
    background-image: url(./pngtree-calendar-on-black-background-with-numbers-written-on-it-picture-image_2732005.jpg);
    background-position: center;
    background-size: cover;
    height: 900px; 
}

h1{
    font-size: 70px;
    
    
    color: rgb(148, 25, 25);
    margin-left: 1400px;
}

.inhead{

    color: white;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 70px;
    
}

.enjeu{
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;

}

.idont{

    width:  170px;
    height: 65px;
    
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 25px;

}
#fraiche{
    
    border: none;
    margin-bottom: 7px;
    border-radius: 5px;
    background-color: rgb(107, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 23px;
    width: 120px;
    height: 50px;
    

}

#lenombre{

    color: rgb(0, 0, 0);
    font-family: Bebas Neue ;
    font-size: 28px;
    margin-top: 30px;
    margin-right: 55px;
    
}


.leflou{

    width: 450px;
    height: 400px;
    backdrop-filter: blur(10px);
    background-color: rgba(226, 226, 226, 0.158);
    margin-left: 750px;
    margin-top: 140px;
    border-radius: 6px;

}